@value colors: '../../styles/variables.module.css';
@value _orange, _gray from colors;

/*++++++++++ ProductCard styles ++++++++++*/

.product_card_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 375px;
  background-color: black;
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;
}

.product_card_orange {
  background-color: _orange;
}

.product_card_gray {
  background-color: _gray;
}

.product_card_white {
  background-color: white;
}

.product_card_flipped {
  flex-direction: row-reverse;
  background-position: left;
}

.product_card_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  max-height: 100%;
  padding: 20px;
}

.product_card_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.product_card_image {
  max-height: 100%;
}
.product_card_header {
  color: darkgray;
  text-transform: uppercase;
}

.product_card_title {
  color: white;
  font-size: 30px;
  width: 80%;
  text-transform: uppercase;
}

.product_card_text {
  color: lightgray;
  font-size: 12px;
  width: 80%;
  padding: 20px 20px 20px 0;
}

.product_card_buttons_container {
  display: flex;
}

/*++++++++++ InTheBox styles ++++++++++*/

.box_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  color: white;
  width: 200px;
  height: 100%;
}

.box_rows {
  display: flex;
  margin: 0;
  flex-direction: column;
}

.box_single_row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.box_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.4rem;
  color: orange;
}

.box_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.4rem;
  color: drakgrey;
}

/*++++++++++ Description styles ++++++++++*/

.description_main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  color: white;
  width: 70%;
  height: 375px;
  margin: 0 auto;
}
.description_features {
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  height: 100%;
}
.description_header {
  margin: 0 0 4rem 0;
}

/*++++++++++ Price styles ++++++++++*/

.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  color: aliceblue;
}
