.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 50vh;
  margin: 1rem auto;
  color: orange;
  font-size: 3rem;
}

.rolling {
  position: relative;
  display: flex;
  width: 10rem;
  height: 10rem;
  justify-content: center;
  align-items: center;
  animation: rolling 1s infinite linear;
}

.text {
  display: block;
  margin: 1rem;
}

@keyframes rolling {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
